body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  width: 350px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.auth-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container h1 i {
  margin-right: 10px;
}

.auth-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.auth-container button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #e67e22;
}

.auth-container a {
  color: #f39c12;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.auth-container a:hover {
  text-decoration: underline;
}
